---
layout: base.njk
mainClass: ""
---
<nav class="appendix-nav">
  <ul>
    <li><a href="#kusinen" class="appendix-nav-link">kusinen</a></li>
    <li><a href="#den-osynlige" class="appendix-nav-link">den osynlige</a></li>
    <li><a href="#yngling" class="appendix-nav-link">en vacker yngling</a></li>
  </ul>
</nav>

<div class="appendix-layout">
  <div class="rb-page-title-wrap">
    <h1 class="rb-page-h1">{{ title }}</h1>
    {% if description %}<p class="rb-page-desc">{{ description }}</p>{% endif %}
  </div>
  <div class="rb-page-content">
    <div class="appendix-content memories text-center">
      {{ content | safe }}
    </div>
  </div>
</div>
