<div class="fixed bottom-0 left-0 right-0 z-[100] rb-controls">
  <div class="mx-auto flex h-[98px] max-w-5xl items-center justify-between gap-6 px-4">
    <div class="flex items-center gap-2" data-page-display>
      <input class="rb-page-input" type="number" min="1" max="1000" value="1" data-page-input />
    </div>
  </div>
</div>
