<footer class="rb-footer">
  <div class="rb-footer-inner">
    <div>
      <div>&copy; <span id="year"></span> Rolf Börjlind</div>
    </div>
  </div>
  <script>document.getElementById('year').textContent = new Date().getFullYear();</script>
</footer>
