<header data-header class="rb-header-outer rb-header">
  <div class="rb-header-inner">
    <a class="no-underline" href="/">
      <div class="rb-brand">Rolf Börjlind</div>
    </a>

    <nav class="rb-header-nav">
      <button data-site-nav-open class="rb-header-menu-btn" aria-label="Öppna meny">Meny</button>
    </nav>
  </div>
</header>
